{% extends 'index.html'%}
{% load static%}
{% block content %}
<!-- Beginning of academics-->

<div class="row " id="acd_a">

    <div class="col l12 m12 s12">
        <h4 class="center"><b>A</b>cademics
            <div class="divider"></div>
        </h4>
    </div>

    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col l3 m3 s12"><img class="z-depth-5" id="a_image1" src="{%static 'css/mimages/down7.jpg'%}" ></div>
            <div class="col l9 m9 s12"><p class="center"><b style="font-size:34px">A</b>t Happy Tots we focus on the
                primary educational development of a child by offering the first eight years
                of the 8-4-4 system. This is a widely accepted system in Kenya with many to almost all secondaries in
                the country being able to accept our students
                after doing their national examinations. We are certified by the Kenya National Educational Boards as an
                institution that offers quality education and standard examinations applicable nationally.

            </p>
            </div>
        </div>



    <div class="col l12 m12 s12">
        <h4 class="center"><b>C</b>reativity
            <div class="divider"></div>
        </h4>
    </div>

    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col l3 m3 s12"><img class="z-depth-5" id="a_image2" src="{%static 'css/mimages/down4.jpg'%}" ></div>
            <div class="col l9 m9 s12"><p class="center"><b style="font-size:34px">C</b>reativity plays a great role at
                a child's educational journey.
                It is a chance for the children to put in use the various disciplines taught but in a new and innovative
                way. We don't only encourage expression of creativity,
                but also showcase the beautiful talents that we nature.
            </p>
            </div>
        </div>

    </div>

    <div class="col l12 m12 s12">
        <h4 class="center"><b>A</b>chievements
            <div class="divider"></div>
        </h4>
    </div>

    <div class="col l12 m12 s12">
        <div class="row">

            <div class="col l12 m12 s12"><p class="center"><b style="font-size:34px">W</b>e have made great strides from
                the inception of the school to where we are right now.
                 We began the school with a handful of students and now dozens of students do their national examinations
                at our school. Coming from a densely populated area of the capital We boast one of the highest
                teacher to student ratio not only in the capital but countrywide.
            </p>
            </div>
        </div>

        <div class="row">

            <div class="col l3 m3 s12 " id="testi_image1">
                <div class="center">
                    <img class="card-image circle" width="200px" src="{%static 'css/mimages/down4.jpg'%}">
                    <p class="center">"dfsdddfsdfsdfsdfdsfsdfsdfs"</p>
                </div>
            </div>

               <div class="col l3 m3 s12 " id="testi_image2">
 <div class="card-content center">
                    <img class="circle" width="200px" src="{%static 'css/mimages/down4.jpg'%}">
     <p class="center">"bjhbjhfbhbdfhdfhd"</p>
                </div>
            </div>

               <div class="col l3 m3 s12 " id="testi_image3">
 <div class="center">
                    <img class="circle" width="200px" src="{%static 'css/mimages/down4.jpg'%}">
     <p class="center">"dsfsdfdsfsdfsdfs"</p>
                </div>
            </div>

        </div>

    </div>


    </div>


</div>


<!--End of academics-->
{% endblock %}