{% extends 'index.html'%}
{% load static%}
{% block content %}

<div class="row">
    <div class="col l12 m12 s12">
        <h4 class="center">Culture and Sports</h4>
        <p>Dandora being one of the most diverse places in Nairobi, having over 1 million residents from all walks of
            life it taming with different cultures. Thus it comes as no surprise that it the breeding ground of sporting
            talent.
            Here we will showcase some cultural and sports activities that our school participates in.

        </p>

    </div>

    <div class="row">
        <div class="col l3 m3 s12" id="cul_img1" >

            <img class="card-image " src="{% static 'css/mimages/down.jpg'%}">

        </div>


        <div class="col l3 m3 s12" id="cul_img2" >

            <img class="card-image" src="{% static 'css/mimages/down1.jpg'%}">

        </div>


        <div class="col l3 m3 s12" id="cul_img3" >

            <img class="card-image" src="{% static 'css/mimages/down2.jpg'%}">

        </div>
    </div>

    <div class="row">
        <div class="col l3 m3 s12" id="cul_img4" >

            <img class="card-image" src="{% static 'css/mimages/down3.jpg'%}">

        </div>


        <div class="col l3 m3 s12" id="cul_img5" >

            <img class="card-image " src="{% static 'css/mimages/down4.jpg'%}">
        </div>


        <div class="col l3 m3 s12" id="cul_img6" >

            <img class="card-image " src="{% static 'css/mimages/down8.jpg'%}">
        </div>
    </div>

    <div class="row">
        <div class="col l3 m3 s12" id="cul_img7">

            <img class="card-image" src="{% static 'css/mimages/down6.jpg'%}">
        </div>


        <div class="col l3 m3 s12" id="cul_img8">

            <img class="card-image" src="{% static 'css/mimages/down7.jpg'%}">
        </div>


        <div class="col l3 m3 s12 " id="cul_img9">

            <img class="card-image" src="{% static 'css/mimages/down5.jpg'%}">
        </div>
    </div>


</div>


{% endblock %}