{% extends 'index.html'%}
{% load static%}
{% block content %}

<div class="col l12 m12 s12 " id="fdp_a">
    <div class="section container">
        <h4 class="center">Feeding Program</h4>
        <p class="center">Dandora is one of the slums that experiences urban hunger according to UHDSS 2018 report. In
            this case the school decided to start a feeding program
            to feed the children and keep them in school. The program has been running since the school inception. The
            kids are offered porridge at 10:00 am and
            Githeri 'Maize and beans' at lunch time.

        </p>
        <p class="center">The benefits of the program are evident. Many of the pupils can't afford two meals per day and
            this factor makes the school a safe heaven for all the children who attend.
            We register a class attendance of almost 100% in all school days.
        </p>
        <p class="center">Unfortunately with the numbers soaring every year, it is proving to be a challenge to sustain
            the population with the previous convectional means. To this end we are asking you
            to support us and keep a child at school by donating to our school.</p>
    </div>

    <div class="row" id="fdp_p">
        <div class="col l3 m3 s12 card" id="one1"></div>
        <div class="col l3 m3 s12 card" id="two2"></div>
        <div class="col l3 m3 s12 card" id="three3"></div>
    </div>
    <div class="row" id="fdp_p_1">
        <div class="col l3 m3 s12 card" id="one1_2"></div>
        <div class="col l3 m3 s12 card" id="two2_2"></div>
        <div class="col l3 m3 s12 card" id="three3_2"></div>
    </div>



    <div class="row" id="fdp_s">


        <div class="col l3s m4 s12 card center" id="fdp_s_1">
            <div class="card-content">
                <div class="card-image"><i class="large material-icons">restaurant_menu</i></div>
                <h5 class="card-title">6500</h5>
                <p>The number of children currently benefiting from this project</p>
            </div>
        </div>

        <div class="col l3 m4 s12 card center" id="fdp_s_2">
            <div class="card-content">
                <div class="card-image"><i class="large material-icons">directions_run</i></div>
                <h5 class="card-title">Target</h5>
                <p>No child goes hungry while in our school</p>
            </div>
        </div>

        <div class="col l3 m4 s12 card center" id="fdp_s_3">
            <div class="card-content">
                <div class="card-image"><i class="large material-icons">show_chart</i></div>
                <h5 class="card-title">Projections</h5>
                <p>We project a growth of 200 students annually .</p>
            </div>
        </div>
    </div>


</div>
{% endblock %}